$o-footer-is-silent: false;
$o-fonts-is-silent: false;

@import '../bower_components/o-colors/main';
@import '../bower_components/o-fonts/main';
@import '../bower_components/o-footer/main';
@include oColorsSetColor('claret-inverse', #4f1828);

$sans-serif: oFontsGetFontFamilyWithFallbacks(MetricWeb);

.kat-root {
  min-height: 100%;
  position: relative;
}

.kat-footer {
  bottom: 0;
  font-family: $sans-serif;
  left: 0;
  position: absolute;
  width: 100%;

  .o-footer__legal-links li {
    &::before {
      padding-left: 4px;
    }

    &:first-child::before {
      padding-left: 0;
    }
  }

  .o-footer__copyright {
    abbr {
      text-decoration: none;
    }
  }
}

.kat-footer__contact-wrapper {
  background-color: oColorsGetPaletteColor("claret");
  padding: 15px 0;
}

.kat-footer__contact-item {
  color: oColorsGetPaletteColor("white");
  display: inline-block;
  padding-right: 24px;

  > a {
    font-weight: 600;
    color: oColorsGetPaletteColor("white");

    &:hover,
    &:focus {
      color: oColorsGetPaletteColor("black-30");
    }
  }
}
