$o-footer-is-silent: false;
$o-fonts-is-silent: false;

@import '../bower_components/o-colors/main';
@import '../bower_components/o-fonts/main';
@import '../bower_components/o-footer/main';
@include oColorsSetColor('claret-inverse', #4f1828);

$sans-serif: oFontsGetFontFamilyWithFallbacks(MetricWeb);

.kat-footer {
  font-family: $sans-serif;

  &__wrapper {
    min-height: 100%;
    position: relative;
  }

  &__contact {
    &-wrapper {
      background-color: oColorsGetPaletteColor("claret");
      padding: 15px 0;
    }

    &-item {
      display: inline-block;
      padding-right: 24px;
      color: oColorsGetPaletteColor("white");

      // scss-lint:disable NestingDepth
      > a {
        font-weight: 600;
        color: oColorsGetPaletteColor("white");

        &:hover,
        &:focus {
          color: oColorsGetPaletteColor("black-30");
        }
      }
    }
  }

  .o-footer__legal-links li {

      &::before {
        padding-left: 4px;
      }
      &:first-child::before {
        padding-left: 0;
      }

  }

  .o-footer__copyright {
    abbr {
      text-decoration: none;
    }
  }
}
